.ace-editor-editor-wrapper {
  position: relative;
}
.ace-editor-editor {
  height: 350px;
}
.ace-editor-fullscreen-button {
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.85);
  background-image: url('../icons/expand.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(2rem - 5px);
}
.ace-editor-fullscreen-button:hover,
.ace-editor-fullscreen-button:focus {
  outline: 2px solid rgba(255, 255, 255, 0.85);
}
/* Fullscreen mode */
.ace-editor-field-wrapper.fullscreen .ace-editor-editor {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}
.ace-editor-field-wrapper.fullscreen .ace-editor-fullscreen-button {
  position: fixed;
  z-index: 1000;
}
